<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stream_id %><br />
    <%= f.text_field :stream_id %>
  </div>
  <div class="field">
    <%= f.label :stream_posts %><br />
    <%= f.text_area :stream_posts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
